form .form-ctrl {
  position: relative;
  margin-top: 35px;
}

form .form-ctrl:focus {
  border-color: var(--accent-blue);
}

form label {
  color: var(--gray);
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="number"],
form select {
  background-color: var(--accent-white);
  padding: 10px 0;
  width: 100%;
  color: var(--gray);
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--border); 
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="number"]:focus,
form select:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-blue); 
}

form input[type="text"]:disabled,
form input[type="email"]:disabled,
form input[type="password"]:disabled,
form input[type="date"]:disabled,
form input[type="number"]:disabled,
form select:disabled {
  border-bottom: 1px solid var(--border); 
}

form input::-webkit-input-placeholder {
  color: #d8d8d8;
}

form input::-ms-input-placeholder {
  color: #d8d8d8;
}

form input::placeholder {
  color: #d8d8d8;
  font-size: 13px;
}

form input[type="button"],
form input[type="submit"] {
  background-color: var(--accent-blue);
  color: var(--accent-white);
  border-radius: var(--radius);
  font-weight: bold;
  margin-top: 40px;
  padding: 9px 26px;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15),
    0 0 16px rgba(218, 209, 209, 0.15); 
}

.input-group form input[type="button"]:hover,
.input-group form input[type="submit"]:hover {
  background-color: var(--accent-blue-hover);
}

.input-group form .align-right-btn {
  display: flex;
  justify-content: flex-end;
}

.input-group form input[type="text"],
.input-group form input[type="email"],
.input-group form input[type="password"],
.input-group form select {
  background-color: var(--accent-white);
  padding: 10px 0;
  width: 100%;
  color: var(--gray);
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--border); 
  border-radius: 0px;
}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.input-group input[type="password"]:focus,
.input-group select:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-blue); 
}

.input-group input[type="text"]:disabled,
.input-group input[type="email"]:disabled,
.input-group input[type="password"]:disabled,
.input-group select:disabled {
  border-bottom: 1px solid var(--border); 
}

.input-group input::-webkit-input-placeholder {
  color: #d8d8d8;
}

.input-group input::-ms-input-placeholder {
  color: #d8d8d8;
}

.input-group input::placeholder {
  color: #d8d8d8;
}

.input-group input[type="button"],
.input-group input[type="submit"] {
  background-color: var(--accent-blue);
  color: var(--accent-white);
  border-radius: var(--radius);
  font-weight: bold;
  margin-top: 40px;
  padding: 9px 26px;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15),
    0 0 16px rgba(218, 209, 209, 0.15);  
}

.input-group input[type="button"]:hover,
.input-group input[type="submit"]:hover {
  background-color: var(--accent-blue-hover);
}

.input-group form .align-right-btn {
  display: flex;
  justify-content: flex-end;
}



.input-group {
  width: 100%;
  outline: none;
  /* margin-top: 3px; */
  border-radius: 5px;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease;
  border-radius: var(--radius);
  background: var(--accent-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px 20px;
}

input {
  width: 100%;
  outline: none;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: all 0.3s ease;
  border-radius: var(--radius);
  background: var(--accent-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
}


/* Additional styling for focus state */
input:focus {
  outline: none;
  border-color: var(--accent-blue);
  box-shadow: 0 0 5px var(--accent-blue-light);
}

.dark input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}


input :hover {
  border: 1px solid var(--accent-blue-soft);
}

/* button */
.btn {
  background-color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  color: var(--accent-white);
  border-radius: var(--radius);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border: none;
  outline: none;
  padding: 9px 20px;
}

.btn_choose {
  border: 1px solid #2563EB;
  background-color: #2563EB;
  color: white;
  border-radius: var(--radius);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: 9px 20px;
  margin-right: 10px;
}

.btn_outline {
  border: 1px solid var(--accent-blue);
  background-color: var(--accent-blue-light);
  color: var(--accent-blue);
  border-radius: var(--radius);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: 9px 20px;
  margin-right: 10px;
  float: right;
}

.btn:hover {
  border: 2px solid var(--accent-blue);
  background-color: var(--accent-blue-light);
  color: var(--accent-blue);
}

.btn_outline:hover {
  border: 2px solid var(--accent-blue);
  background-color: var(--accent-blue);
  color: var(--accent-white);
}

button {
  text-align: center;
  white-space: nowrap;
  border: none;
  outline: none;
  border-radius: 5px
}

/* button:active { 
    border: 2px solid var(--accent-blue);
     padding: 9px 20px;
} */

.img-search-access {
  cursor: pointer;
  transition: 0.5s;
  margin: 0px 10px;
}

.img-search-access:hover {
  font-size: 17px;
}

#custom-btn-two {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-blue);
  background-color: var(--accent-blue-light);
  border-radius: 0px;
  font-size: smaller;
  white-space: nowrap;
  padding: 0px 10px;
  height: 30px;
  font-weight: bold;
  border: 1px solid var(--accent-blue-light);
}

#register-select {
  padding: 10px;
  border-radius: 5px;
  margin-top: 3px;
  border-radius: var(--radius);
  background: var(--accent-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
}



#custom-btn-two:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-blue);
  background-color: #EEE9FD;
  border-radius: 0px;
  font-size: smaller;
  white-space: nowrap;
  padding: 0px 10px;
  height: 30px;
  font-weight: bold;
  border: 1px solid var(--accent-blue-light);
}

#custom-btn-two-active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-blue);
  background-color: var(--accent-blue-light);
  border-radius: var(--radius);
  font-size: smaller;
  white-space: nowrap;
  padding: 0px 10px;
  height: 30px;
  font-weight: bold;
  border: 1px solid var(--accent-blue);
  box-shadow: 0 0 5px var(--accent-blue-light);
}

#custom-btn {
  height: 2.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--accent-blue);
  border: none;
  color: var(--accent-white);
}

#custom-btn:hover {
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--accent-blue-soft);
  color: var(--accent-white);
}


Select {
  width: 100%;
  outline: none;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: all 0.3s ease;
  border-radius: var(--radius);
  background: var(--accent-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
}

Select:focus {
  outline: none;
  border-color: var(--accent-blue);
  box-shadow: 0 0 5px var(--accent-blue-light);
}

.dark Select:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

Select :hover {
  border: 1px solid var(--accent-blue-light);
}

textarea {
  width: 100%;
  outline: none;
  margin-top: 3px;
  border-radius: var(--radius);
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
}

textarea:focus {
  outline: none;
  border-color: var(--accent-blue);
  box-shadow: 0 0 5px var(--accent-blue-light);
}

.dark textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

textarea :hover {
  border: 1px solid var(--accent-blue-light);
}

.css-t3ipsp-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0;
  position: relative; 
  background-color: hsl(0, 0%, 100%);
  border-color: var(--accent-purple);
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 0 1px var(--box-shadow);
  box-sizing: border-box;
}

/* Targeting the control (container) */
.react-select__control {
  border: 1px solid var(--text);
  border-radius: var(--radius);
}

/* Targeting the focused state of the control */
.react-select__control--is-focused {
  box-shadow: 0 0 0 1px var(--black);
}

/* Targeting the individual option */
.react-select__option {
  background-color: var(--accent-white);
  /* Default background color */
  color: var(--text);
  /* Default text color */
}

/* Targeting the focused state of the option */
.react-select__option--is-focused {
  background-color: var(--black);
  color: var(--accent-white);
}

/* Targeting the dropdown menu */
.react-select__menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-first-card-h {
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--small-text);
}

.dashboard-first-card-p {
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--text);
}



.flex-date-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.de-active {
  background-color: var(--accent-red-light);
  border: 1px solid var(--accent-red);
  border-radius: 3px;
  color: var(--accent-red);
  padding: 0.15rem 1rem;
}



.container_reg form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--black);
}

.container_reg form .user__details .input__box {
  margin-bottom: 20px;
  width: calc(50% - 20px);
}

.close-span-icon {
  padding: 2px;
  border-radius: 5px;
}

.close-span-icon:hover {
  border: 1px solid var(--accent-blue);
  box-shadow: 0 0 5px var(--accent-blue-light);
  color: var(--accent-blue);
}


.dashboard-first-icon-boards {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-white);
  background-color: var(--accent-blue-light);
  border-radius: 5px;
  font-size: smaller;
  white-space: nowrap;
  padding: 0px 10px;
  height: 30px;
  gap: 3px;
  font-weight: bold;
  border: 1px solid var(--accent-blue-light);
}

.dashboard-first-icon-boards:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-blue);
  background-color: var(--accent-blue-light);
  border-radius: 5px;
  font-size: smaller;
  white-space: nowrap;
  padding: 0px 10px;
  height: 30px;
  gap: 3px;
  font-weight: bold;
  border: 1px solid var(--accent-blue);
}

.dashboard-first-icon-boards-move {
  display: flex;
  align-items: center;
}

.dashboard-first-card-boards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.image_gallery {
  padding: 20px 30px;
  margin-top: 20px;

}

.ang-dash-notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
}



form#ticket-form {
  gap: 0.95rem;
}

form#ticket-form,
form#ticket-form .form-grp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form#ticket-form .form-grp_row {
  display: flex;
  gap: 1.25rem;
}

form#ticket-form .form-grp_btn {
  display: flex;
  justify-content: flex-end;
}

.editor {

  /* height: 180px; */
  margin-bottom: 2rem;
}


.flex-date-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.de-active {
  background-color: rgba(255, 0, 0, .159);
  border: 1px solid red;
  border-radius: 3px;
  color: red;
  padding: 0.15rem 1rem;
}



.container_reg form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.container_reg form .user__details .input__box {
  margin-bottom: 20px;
  width: calc(50% - 20px);
}

.close-span-icon {
  padding: 2px;
  border-radius: 5px;
}

.close-span-icon:hover {
  border: 1px solid var(--accent-blue);
  box-shadow: 0 0 5px (--accent-blue-light);
}

@media (max-width: 768px) {

  /* 16px -> 14px (desktop) -> 12px (mobile) */
  .input-group,
  input,
  #register-select,
  Select,
  textarea {
    font-size: 12px;
  }

  /* 14px -> 12px (desktop) -> 10px (mobile) */
  .dashboard-first-card-p,
  .container_reg form .user__details,
  .btn,
  .btn_choose,
  .btn_outline {
    font-size: 10px;
  }
}